################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.dds
*.vsidx
/1.4/Source/obj/
/1.4/Source/.vs/VPESkipdoorPathing/FileContentIndex/6ac40a65-8054-4b81-98a5-5ab39b8ffbd0.vsidx
/1.4/Source/.vs/VPESkipdoorPathing/v17/.suo
/1.4/Source/obj/Debug/VPESkipdoorPathing.csproj.CoreCompileInputs.cache
/1.4/Source/obj/Debug/VPESkipdoorPathing.dll
/1.4/Source/.vs/VPESkipdoorPathing/FileContentIndex/efc96e9c-7496-4dd6-9ad2-fd7938093176.vsidx
/1.4/Source/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/1.4/Source/obj/Debug/VPESkipdoorPathing.csproj.AssemblyReference.cache
/1.4/Source/.vs/VPESkipdoorPathing/FileContentIndex/15b2d4bc-4e8e-4ea3-8352-70bd87c1e837.vsidx
/1.4/Source/obj/project.assets.json
